@model Money02.Models.ViewModels.ShowMoneyListViewModel

@{
    Layout = null;
}

@section styles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<style>
    td.CategoryExpense {
        color: red;
        font-weight: bold;
    }

    td.CategoryIncome {
        color: blue;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => Model.MyMoney.First().Category)</th>
                <th>@Html.DisplayNameFor(model => Model.MyMoney.First().Date)</th>
                <th>@Html.DisplayNameFor(model => Model.MyMoney.First().Amount)</th>
            </tr>

            @if (Model.MyMoney != null)
            {
                for (int i = 0; i < Model.MyMoney.Count(); i++)
                {
                    <tr>
                        <td> @(i + 1)</td>
                        @MoneyParts.CategoryDisplay(Model.MyMoney[i].Category)
                        <td> @Html.DisplayFor(model => Model.MyMoney[i].Date)</td>
                        <td> @Html.DisplayFor(model => Model.MyMoney[i].Amount)</td>
                    </tr>
                }
            }
        </table>
   </div>
</div>


@Html.PagedListPager((IPagedList)Model.MyMoney,
    page => Url.Action("ShowMoneyList", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "divPartialView"
    }))


